actionlib==1.12.1
angles==1.9.12
asn1crypto==0.24.0
base-local-planner==2.0.1
bondpy==1.8.5
cachetools==4.2.2
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.28
certifi==2021.5.30
charset-normalizer==2.0.4
controller-manager==0.3.0
controller-manager-msgs==0.3.0
cryptography==2.1.4
cv-bridge==1.13.0
ddynamic-reconfigure-python==0.0.1
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
dialogflow==1.1.1
doxygen-catkin==0.0.4
dynamic-footprint==0.0.13
dynamic-reconfigure==1.6.1
gazebo-plugins==3.0.1
gazebo-ros==3.0.1
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
google-api-core==1.31.2
google-auth==1.35.0
googleapis-common-protos==1.53.0
grpcio==1.40.0
idna==2.6
image-geometry==1.13.0
interactive-markers==1.11.5
joint-state-publisher==1.12.15
kdl-parser-py==1.13.1
keyring==10.6.0
keyrings.alt==3.0
laser-geometry==1.6.5
message-filters==1.14.9
moveit-ros-planning-interface==1.0.6
moveit-ros-visualization==1.0.6
openni2-launch==0.4.2
packaging==21.0
pal-loc-measure==1.0.0
pal-navigation-manager==0.1.8
pal-navigation-sm==4.0.5
pal-python==0.9.18
pal-ros-utils==0.3.1
pal-startup-manager==0.0.34
pal-statistics==1.4.3
pal-waypoint==0.4.1
play-motion==0.4.8
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
python-qt-binding==0.4.3
pytz==2021.1
pyxdg==0.25
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.26.0
resource-retriever==1.12.6
rosbag==1.14.9
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.9
roslaunch==1.14.9
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.9
rosmake==1.14.9
rosmaster==1.14.9
rosmsg==1.14.9
rosnode==1.14.9
rosparam==1.14.9
rospy==1.14.9
rosservice==1.14.9
rostest==1.14.9
rostopic==1.14.9
rosunit==1.14.9
roswtf==1.14.9
rqt-action==0.4.9
rqt-bag==0.4.14
rqt-bag-plugins==0.4.14
rqt-console==0.4.9
rqt-current-limit-controller==1.0.4
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-joint-trajectory-controller==0.4.1
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.7.2
rviz==1.13.13
SecretStorage==2.3.1
sensor-msgs==1.12.7
simple-grasping-action==1.0.1
six==1.16.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
srdfdom==0.5.2
tf==1.12.1
tf-conversions==1.12.1
tf-lookup==0.1.4
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tf2-sensor-msgs==0.6.5
topic-tools==1.14.9
urdfdom-py==0.4.3
urllib3==1.26.6
xacro==1.13.8
